<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.kpi.dao.PerAssessedUserDao">

	<select id="get" resultType="com.bootdo.kpi.domain.PerAssessedUserDO">
		select `id`,`assessed_personnel_id`,`appraisal_user_id` from per_assessed_user where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.kpi.domain.PerAssessedUserDO">
		select `id`,`assessed_personnel_id`,`appraisal_user_id` from per_assessed_user
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="assessedPersonnelId != null and assessedPersonnelId != ''"> and assessed_personnel_id = #{assessedPersonnelId} </if>
		  		  <if test="appraisalUserId != null and appraisalUserId != ''"> and appraisal_user_id = #{appraisalUserId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from per_assessed_user
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="assessedPersonnelId != null and assessedPersonnelId != ''"> and assessed_personnel_id = #{assessedPersonnelId} </if>
		  		  <if test="appraisalUserId != null and appraisalUserId != ''"> and appraisal_user_id = #{appraisalUserId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.kpi.domain.PerAssessedUserDO" useGeneratedKeys="true" keyProperty="id">
		insert into per_assessed_user
		(
			`assessed_personnel_id`, 
			`appraisal_user_id`
		)
		values
		(
			#{assessedPersonnelId}, 
			#{appraisalUserId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.kpi.domain.PerAssessedUserDO">
		update per_assessed_user 
		<set>
			<if test="assessedPersonnelId != null">`assessed_personnel_id` = #{assessedPersonnelId}, </if>
			<if test="appraisalUserId != null">`appraisal_user_id` = #{appraisalUserId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from per_assessed_user where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from per_assessed_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

    <select id="perAssessedList" resultType="com.bootdo.kpi.domain.PerAssessedUserDO">
        select u.id,u.appraisal_user_id,u.assessed_personnel_id,s.name `username`,d.name,d.dept_id from per_assessed_user u
        left join sys_user s on s.user_id = u.assessed_personnel_id
        left join sys_dept d on d.dept_id = s.dept_id
        <where>
            <if test="appraisalUserId != null and appraisalUserId != ''"> and u.appraisal_user_id = #{appraisalUserId} </if>
            <if test="deptId != null and deptId != ''"> and d.dept_id = #{deptId} </if>
            <if test="deptId == null or deptId == ''"> group by d.name </if>
        </where>
    </select>

</mapper>