<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.kpi.dao.PerformanceAppraisalDetailsDao">

	<select id="get" resultType="com.bootdo.kpi.domain.PerformanceAppraisalDetailsDO">
		select `id`,`option_id`,`option_name`,`appraisal_user_id`,`examinee_user_id`,`appraisal_user_name`,`appraisal_score`,`appraisal_time`,`appraisal_mobile`,`appraisal_id` from performance_appraisal_details where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.kpi.domain.PerformanceAppraisalDetailsDO">
        select d.`id`,
        d.`option_id`,
        d.`option_name`,
        d.`appraisal_user_id`,
        d.`examinee_user_id`,
        d.`appraisal_user_name`,
        d.`appraisal_score`,
        d.`appraisal_time`,
        d.`appraisal_mobile`,
        d.`appraisal_id`,
        u.user_post `opinion`,
        r.name `user_name`
        from performance_appraisal_details d
        left join sys_user u on u.user_id = d.appraisal_user_id
        left join sys_user r on r.user_id = d.examinee_user_id
        <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optionId != null and optionId != ''"> and option_id = #{optionId} </if>
		  		  <if test="optionName != null and optionName != ''"> and option_name = #{optionName} </if>
		  		  <if test="appraisalUserId != null and appraisalUserId != ''"> and appraisal_user_id = #{appraisalUserId} </if>
		  		  <if test="examineeUserId != null and examineeUserId != ''"> and examinee_user_id = #{examineeUserId} </if>
		  		  <if test="appraisalUserName != null and appraisalUserName != ''"> and appraisal_user_name = #{appraisalUserName} </if>
		  		  <if test="appraisalScore != null and appraisalScore != ''"> and appraisal_score = #{appraisalScore} </if>
                  <if test="appraisalId != null and appraisalId != ''"> and appraisal_id = #{appraisalId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from performance_appraisal_details
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optionId != null and optionId != ''"> and option_id = #{optionId} </if>
		  		  <if test="optionName != null and optionName != ''"> and option_name = #{optionName} </if>
		  		  <if test="appraisalUserId != null and appraisalUserId != ''"> and appraisal_user_id = #{appraisalUserId} </if>
		  		  <if test="examineeUserId != null and examineeUserId != ''"> and examinee_user_id = #{examineeUserId} </if>
		  		  <if test="appraisalUserName != null and appraisalUserName != ''"> and appraisal_user_name = #{appraisalUserName} </if>
		  		  <if test="appraisalScore != null and appraisalScore != ''"> and appraisal_score = #{appraisalScore} </if>
                  <if test="appraisalId != null and appraisalId != ''"> and appraisal_id = #{appraisalId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.kpi.domain.PerformanceAppraisalDetailsDO">
		insert into performance_appraisal_details
		(
			`id`, 
			`option_id`, 
			`option_name`, 
			`appraisal_user_id`, 
			`examinee_user_id`, 
			`appraisal_user_name`, 
			`appraisal_score`,
			`appraisal_time`,
			`appraisal_mobile`,
			`appraisal_id`
		)
		values
		(
			#{id}, 
			#{optionId}, 
			#{optionName}, 
			#{appraisalUserId}, 
			#{examineeUserId}, 
			#{appraisalUserName}, 
			#{appraisalScore},
			#{appraisalTime},
			#{appraisalMobile},
			#{appraisalId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.kpi.domain.PerformanceAppraisalDetailsDO">
		update performance_appraisal_details 
		<set>
			<if test="optionId != null">`option_id` = #{optionId}, </if>
			<if test="optionName != null">`option_name` = #{optionName}, </if>
			<if test="appraisalUserId != null">`appraisal_user_id` = #{appraisalUserId}, </if>
			<if test="examineeUserId != null">`examinee_user_id` = #{examineeUserId}, </if>
			<if test="appraisalUserName != null">`appraisal_user_name` = #{appraisalUserName}, </if>
			<if test="appraisalTime != null">`appraisal_time` = #{appraisalTime},</if>
			<if test="appraisalMobile != null">`appraisal_mobile` = #{appraisalMobile},</if>
			<if test="appraisalScore != null">`appraisal_score` = #{appraisalScore},</if>
			<if test="appraisalId != null">`appraisal_id` = #{appraisalId}</if>
        </set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from performance_appraisal_details where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from performance_appraisal_details where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

    <select id="total" resultType="com.bootdo.kpi.domain.DetailTotal">
        select GROUP_CONCAT(a.appraisal_score)appraisal_score,a.name as dept_name from
			(select d.appraisal_id,sum(d.appraisal_score)as appraisal_score,d.appraisal_user_name,t.name as name from performance_appraisal_details d
			left join sys_user u on u.user_id = d.appraisal_user_id
			left join sys_dept t on t.dept_id = u.dept_id
		<where>
			<if test="appraisalUserId != null and appraisalUserId != ''"> and appraisal_user_id = #{appraisalUserId} </if>
		</where>
			GROUP BY d.appraisal_id,t.name,d.appraisal_user_id)a group by a.name
    </select>

    <select id="excelExport" resultType="com.bootdo.kpi.domain.PerformanceAppraisalDetailsDO">
        SELECT (@i:=@i+1)  id, u.username user_name,dept.`name` examinee_User_Dept,sum(d.appraisal_score) appraisal_Score
		FROM performance_appraisal_details d
		left join sys_user u
		on d.examinee_user_id = u.user_id
		left join sys_dict dept
		on u.dept_id = dept.id,
		(select @i:=0)  t2
		group by u.username ,dept.`name`
    </select>
</mapper>