<!DOCTYPE html>
<html>
<head th:include="portal/HomePageWechat/layout::header"></head>
<script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
<header class="ui-header clearfix w75 h8 f46 pl3 pr3 color8 bg-color-success t-c o-h">
	<div class="ui-header-c fl f30 w59" style="width: 100%;">
		绩效考核
        <span id="names" style="float: right"></span>
	</div>
</header>
<!--登录菜单-->
<aside class="ui-aside w40 bg-color-success f30" th:include="portal/HomePageWechat/layout::aside"></aside>
<script type="text/javascript"  th:include="portal/HomePageWechat/layout::asideJS"></script>
<body>

<a href="#" class="list-group-item active">
    部门列表
</a>
<div id="department">
        <!--<a href="#" class="list-group-item">1</a>
        <a href="#" class="list-group-item">2</a>
        <a href="#" class="list-group-item">3</a>
        <a href="#" class="list-group-item">4</a>-->
</div>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
		    /*var corpid = [[${corpid}]];
            dd.runtime.permission.requestAuthCode({
                corpId: corpid,
                onSuccess: function(result) {
                    console.log("result===="+result)
                    console.log("result.code================="+result.code)*/
                    $.ajax({
                        url : "/satisfaction/login",
                        type : "POST",
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                            'Access-Control-Allow-Origin': '*'
                        },
                        /*data : {
                            authCode :result.code
                        },*/
                        success : function(r) {
                            if(r.code=='500'){
                                alert(r.msg);
                                return;
                            }
                            $("#names").html(r.userDto.name);
                            var departmentList = r.departmentList;
                            var html="";
                            $.each(departmentList, function(k,v) {
                                html+='<a href="/satisfaction/user/simplelist?department_id='+departmentList[k].deptId+'" class="list-group-item">'+
                                    departmentList[k].name
                                    '</a>'
                            });
                            $("#department").append(html);
                        }
                    });
            /*},
            onFail : function(err) {}
            })*/
		});
	</script>
</body>
</html>
