<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${voteActivityOption.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">活动id：</label>
								<div class="col-sm-8">
									<input id="activityId" name="activityId" th:value="${voteActivityOption.activityId}" class="form-control" type="hidden">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">选项名称：</label>
								<div class="col-sm-8">
									<input id="activityOptions" name="activityOptions" th:value="${voteActivityOption.activityOptions}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序：</label>
                                <div class="col-sm-8">
                                    <input id="activitySort" name="activitySort" th:value="${voteActivityOption.activitySort}" class="form-control" type="text">
                                </div>
                            </div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/vote/voteActivityOption/edit.js">
	</script>
</body>
</html>
